@import "tailwindcss";

@layer base {
  body {
    @apply bg-transparent m-0 p-0 overflow-x-hidden;
    background: var(--vscode-background);
    color: var(--vscode-foreground);
    font-family: var(--vscode-font-family);
  }

  button {
    background: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
  }
  .preset {
    background: var(--vscode-button-secondaryBackground);
    color: var(--vscode-button-secondaryForeground);
    border: 1px solid var(--vscode-panel-border);
    transition: 0.2s;
  }

  .preset:hover {
    background: var(--vscode-list-hoverBackground);
  }

  .preset.active {
    background: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
  }
  .card {
    background: var(--vscode-editorWidget-background);
  }
  button:hover {
    background: var(--vscode-button-hoverBackground);
  }
  .border-native {
    border-color: var(--vscode-editorWidget-border);
  }
  * {
    @apply transition-colors duration-300;
  }
}

@layer components {
  .status {
    @apply font-medium text-sm;
  }

  .status.success {
    @apply text-green-400;
  }

  .status.error {
    @apply text-red-400;
  }
}

@layer utilities {
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slide-in-from-bottom {
    from {
      transform: translateY(24px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-in {
    animation: fade-in 0.3s ease-in-out;
  }

  .fade-in {
    animation: fade-in 0.3s ease-in-out;
  }

  .slide-in-from-bottom-4 {
    animation: slide-in-from-bottom 0.3s ease-out;
  }
}
